.card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    mat-card {
        width: 400px;
        display: flex;
        flex-direction: column;
        mat-card-header {
            h1 {
                text-align: center;
                margin-left: 10px;
                color: #ff4081;
            }
        }
        mat-card-content {
            width: 100%;
            box-sizing: border-box;
            form {
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                mat-form-field {
                    width: 100%;
                }
                #submit-btn {
                    width: 100%;
                }
            }
        }
    }
}