<div class="table-warpper">
    <table mat-table class="mat-elevation-z8" *ngIf="dataSource && dataSource.length > 0" [dataSource]="dataSource" style="width: 100%">
        <!-- Position Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name.</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> Phone </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef> Comment </th>
            <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element" class="action-wrapper">
                <a routerLink="/crud/update/{{element._id}}" mat-fab color="warn">
                    <mat-icon>edit</mat-icon>
                </a>
                <button mat-fab color="accent" (click)="deletedata(element._id)"><mat-icon c>delete</mat-icon></button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <table mat-table class="mat-elevation-z8" *ngIf=" dataSource.length == 0" [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name.</th>
            <td mat-cell colspan="5" style="text-align: center;">data not found</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> Phone </th>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef> Comment </th>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>